__pycache__
*.pyc

*.exe
*.exe_*
*.exe.*

*.dll

data/

*.7z

.peru
.env

temp*.i

# --- User-specific files ---
*.suo
*.user
*.userosscache
*.sln.docstates

# --- Build Directories (Standard MSVC output) ---
[Dd]ebug/
[Rr]elease/
build/

# --- Visual C++ Cache / Intellisense Files ---
.vs/
ipch/

/output
